body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.column {
  width: calc(100%/3);
  height: 100%;
  float: left;
}

.left {
  background: red;
}

.middle {
  background: blue;
}

.right {
  background: green;
}

.top {
  width: 100%;
  height: 80%;
}

.bottom {
  width: 100%;
  height: 20%;
  background: url("http://i.imgur.com/ubRc02u.gif") no-repeat;
  background-size: cover;
}
